.home-cab {
    background-image: url("/imgs/home/Intersección_60.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    // background-size: 100% 597px;

    @media (min-width: $break-md) {
        background-image: url("/imgs/home/Intersección_65.svg");
        //background-size: 100% 375px;
    }

    @media (min-width: $break-xl) {
        background-image: url("/imgs/home/Intersección_65.svg");
        //background-size: 100% 351px;
        padding-bottom: 70px;
        margin-bottom: -70px;
    }

    .container {
        padding-top: 60px;
        padding-bottom: 127px;

        @media (min-width: $break-md) {
            padding-bottom: 83px;
        }

        .title, .title>b {
            font-size: 29px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 16px;
            margin-top: 40px;

            @media (min-width: $break-md) {
                text-align: left;
                margin-bottom: 16px;
                margin-top: 0px;
            }

            @media (min-width: $break-lg) {
                font-size: 32px;
                margin-bottom: 8px;
            }

            @media (min-width: $break-xl) {
                font-size: 39px;
                margin-bottom: 10px;
            }
        }

        .subtitle {
            font-size: 35px;
            text-align: center;
            color: #FFFFFF;
            font-weight: bold;
            margin-bottom: 18px;

            @media (min-width: $break-md) {
                font-size: 34px;
                text-align: left;
                margin-bottom: 21px;
            }

            @media (min-width: $break-lg) {
                font-size: 32px;
                margin-bottom: 19px;
            }

            @media (min-width: $break-xl) {
                font-size: 48px;
                margin-bottom: 25px;
            }
        }

        .text {
            font-size: 25px;
            text-align: center;
            color: #EBD8FF;
            margin-bottom: 34px;

            @media (min-width: $break-md) {
                text-align: left;
            }

            @media (min-width: $break-xl) {
                font-size: 29px;
                margin-bottom: 32px;
            }
        }

        a {
            margin: 0 auto;
            width: 181px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            color: #FFFFFF !important;
            font-size: 16px;

            @media (min-width: $break-md) {
                margin: 0;
            }
        }
    }
}

.home-caract {
    margin-bottom: 88px;
    padding-right: 0;
    padding-left: 0;

    &:first-child {
        margin-top: 21px;
    }

    &:last-child {
        margin-bottom: 40px;

        @media (min-width: $break-md) {
            margin-bottom: 25px;
        }
    }

    @media (min-width: $break-lg) {
        margin-top: 25px;
        padding: 45px 20px 30px !important;
        margin-bottom: 25px;
        height: 424px;

        &:hover {
            box-shadow: 0px 13px 26px #9300FF29;
            border-radius: 84px;

            * {
                text-decoration: none;
            }

            .a {
                border: 1px solid #551A9D;
                border-radius: 100px;

            }
        }
    }

    img {
        height: 130px;
        width: auto;
        margin-bottom: 18px;
    }

    .title {
        font-size: 22px;
        color: #A053F2;
        text-align: center;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .text {
        font-size: 18px;
        color: #503232;
        text-align: center;
        margin-bottom: 18px;
        line-height: 25px;
        max-width: 318px;
        margin-right: auto;
        margin-left: auto;
    }

    .a {
        color: #551A9D;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }

    /*&:first-child {
        /*img {
            width: 130px;
            height: 130px;
        }
    }

    &:nth-child(2) {
        img {
            width: 186px;
            height: 130px;
        }
    }*/

    &>div {
        @media (min-width: $break-md ) and (max-width: $break-max-lg) {
            padding-right: 0px !important;
        }
    }
}

.anuncios_main {
    .cabecera_botones, .telefono_botones {
        button {
            width: 156px;
            height: 42px;
            border: 1px solid;
            border-radius: 100px;
            background: transparent;

            &.ordenar_button {
                border-color: #AC5CFF;
                color: #AC5CFF;

                &:hover {
                    background-color: #AC5CFF;
                    color: #FFF;
                }

                &::after {
                    display: none;
                }

                &.clicked {
                    background-color: #AC5CFF;
                    color: #FFF;
                }
            }

            &.filtros_button {
                border-color: #AC5CFF;
                padding: 8px;

                span {
                    color: #AC5CFF;
                }

                &:hover {
                    background-color: #AC5CFF;

                    span {
                        color: #FFF;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            &.mapa_button {
                border-color: #397CE3;
                color: #397CE3;

                &:hover {
                    background-color: #397CE3;
                    color: #FFF;
                }
            }
        }

        .dropdown-menu {
            width: 100%;
            height: 174px;
            //box-shadow: 0px 3px 6px #00000029;
            border: none;
            border-radius: 12px;
            left: -9px !important;

            @media (min-width: $break-md) {
                width: 222px;
                left: -35px !important;
                //45
            }

            /*@media (min-width: $break-lg) {
                width: 177px;
            }*/

            .options {
                max-height: 174px;
                top: 42px;

                .dropdown-item {
                    width: 191px;
                    height: 42px;
                    cursor: pointer;
                    border: 1px solid #fff;
                    border-bottom-color: #adb5;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 0;

                    &:last-child {
                        border-bottom-color: #fff;
                    }

                    /*@media (min-width: $break-md) {
                        width: 131px;
                    }*/

                    &:hover{
                        background: #FBF7FF 0% 0% no-repeat padding-box;
                        border-color: #551A9D;
                        border-radius: 80px;
                        color: #551A9D;
                    }

                    &.selected {
                        background: #FBF7FF 0% 0% no-repeat padding-box;
                        border-color: #551A9D;
                        border-radius: 80px;
                        font-weight: bold;
                        color: #551A9D;
                    }

                }
            }
        }

        #ordenarBottomDropdown {
            width: 100%;
            border-radius: 25px 25px 0 0;

            .options {

                .dropdown-item {
                    width: 100%;
                    height: 42px;
                    cursor: pointer;
                    border: 1px solid #FFF;
                    text-align: center;
                    border-bottom-color: #adb5;
                    border-radius: 0;

                    &:last-child {
                        border-bottom-color: #fff;
                    }

                    &.selected {
                        //background: #FBF7FF 0% 0% no-repeat padding-box;
                        //border: 1px solid #551A9D;
                        //border-radius: 80px;
                        font-weight: bold;
                        color: #551A9D;
                    }

                }
            }
        }
    }

    .telefono_botones {
        button {
            width: 100%;
        }
    }

    .cabecera_botones {
        padding: 15px 0;
    }

    .telefono_botones {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 0;
        border-radius: 12px 12px 0 0;
        padding: 12px 0;
        z-index: 3;
        background-color: #FFFFFF;
        width: 100%;

        svg {
            height: 17px;
        }
    }

    #address-map-container {
        width: 100%;
        height: 400px;
        background-color: #FAF5FF;

        #address-map {
            width: 100%;
            height: 100%;
            border-radius: 0 0 50% 50%/3%;
            box-shadow: 3px 3px 12px #551A9D22;
        }

        &.hidden {
            height: 0 !important;
        }
    }

    .anuncios{
        .cabecera {
            width: 100%;
            height: 55px;
            background-color: #FAF5FF;
        }
    }
}

.filtros {
    left: -400px;
    position: fixed;
    width: 375px;
    //max-height: calc(100vh - 46px);
    max-width: 100%;
    z-index: 3;
    //top: 46px;
    top: 0px;
    background-color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 200ms ease;
    height: 100%;
    max-width: 100%;

    .title {
        color: #000;
    }

    @media (min-width: $break-md) {
        max-height: 100% !important;
        position: fixed;
    }
/*
    @media (min-width: $break-lg) {
        top: 80px;
        max-height: calc(100vh - 90px);
    }*/

    &.visible {
        left: 0;
        transition: left 200ms ease;
    }

    .cabecera {
        width: 375px;
        height: 30px;
        background: #FAF5FF;
        max-width: 100%;
    }

     input[type="number"] {
         border: 1px solid #AC5CFF;
         border-radius: 100px;
         height: 42px;
     }

    .habitaciones, .baños {
        .flex-nowrap {
            label {
                border: 1px solid white;
                border-radius: 100px;
                padding: 7px 10px 5px 8px;
                font-size: 16px;
                margin-right: 5px;
                text-align: center;

                &:last-child {
                    margin-right: 0px;
                }

                &.c-pink {
                    border-color: #AC5CFF;
                }

                &:hover {
                    color: #AC5CFF;
                }
            }
        }
    }

    .bottom-buttons {
        z-index: 20;
        bottom: 0;
        width: 375px;
        background-color: #FFFFFF;
        padding: 25px 15px 15px;
        max-width: 100%;
        box-shadow: -9px 1px 6px #adb5bd;
        position: sticky;
        position: -webkit-sticky;
        transform: translate3d(0,0,0);

        @media (min-width: $break-md) {
            position: absolute;
        }

        button {
            background-color: #FFFFFF;
            height: 42px;
            color: #AC5CFF;
            border: 1px solid #AC5CFF;
            width: 100%;
            border-radius: 100px;

            &.h:hover {
                color: #FFFFFF;
                background-color: #AC5CFF;
            }

            &.active {
                color: #FFFFFF;
                background-color: #AC5CFF;
            }
        }
    }

    input[type="checkbox"] + label:before {
        border: 1px solid #AC5CFF;
        content: "\00a0";
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        border-radius: 2px;
    }

    input[type="checkbox"]:checked + label:before {
        background: #AC5CFF;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='44.56px' height='44.56px' fill='%23fff' viewBox='0 0 44.56 44.56' style='enable-background:new 0 0 44.56 44.56;' xml:space='preserve' %3E%3Cg%3E%3Cg%3E%3Cpath d='M23.297,38.74c-1.17,1.588-2.992,2.564-4.962,2.661c-1.97,0.098-3.878-0.696-5.198-2.162L1.308,26.112 c-1.88-2.085-1.713-5.299,0.372-7.179c2.087-1.88,5.299-1.712,7.179,0.374l8.369,9.288c0.124,0.138,0.304,0.212,0.489,0.203 c0.186-0.009,0.356-0.102,0.467-0.25L35.386,5.217c1.665-2.26,4.847-2.741,7.108-1.075c2.259,1.666,2.739,4.848,1.073,7.107 L23.297,38.74z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");        background-size: 17px;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    input[type="checkbox"]:checked + label:after {
        font-weight: bold;
    }

    input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }

    input, button {
        box-shadow: none !important;
    }

    .caracteristicas {
        margin-bottom: 75px;
    }

    label {
        color: #262626;
    }

    .dropdown-toggle {
        border: 1px solid #AC5CFF;
        border-radius: 100px;
        height: 42px;

        p {
            color: #818181;
            max-width: 100%;
            height: 42px;
            display: flex;
            align-items: center;
        }

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        width: 100%;
        height: 181px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;
        left: 0px !important;
        max-width: 157.7px;

        .options {
            max-height: 144px;
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 8px;
                height: 74px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
            }

            &::-webkit-scrollbar-track {
                background: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background: #E2CBFF;
                border-radius: 12px;
                border: 2px solid #fff;
            }

            .dropdown-item {
                width: auto;
                height: 30px;
                cursor: pointer;
                font-size: 14px;
                border: 1px solid #FFF;
                display: flex;
                align-items: center;

                &:hover{
                    background: #FBF7FF 0% 0% no-repeat padding-box;
                    border: 1px solid #551A9D;
                    border-radius: 80px;
                    color: #551A9D;
                }
            }
        }
    }
}

.bg-lpink {
    .contact {
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        padding: 0 30px;

        .aditional-info {
            color: #9D9D9D;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 12px;

            a {
                font-size: 12px;
                color: #2E86FF;
            }
        }

        .contactar {
            width: 103px;

            &.solicitar {
                width: 214px;
                margin: 0 auto;
            }

            @media (min-width: $break-lg) {
                height: 48px !important;

                &.open {
                    width: 332px;
                }
            }
        }

        > form {
            padding: 15px 10px 20px;
            box-shadow: 0px 2px 6px #A46EE5;
            border-radius: 25px;
            background: #FFFFFF;
            width: 100%;
            z-index: 1;

            @media (min-width: $break-lg) {
                padding: 30px 20px 40px;
            }

            @media (min-width: $break-xl) {
                padding: 30px 50px 40px;
            }

            div {
                img {
                    width: 102px;
                    border-radius: 100%;

                    @media (min-width: $break-md) {
                        width: 142px;
                    }
                }

                div {
                    div {
                        line-height: 20px;
                    }
                }
            }

            button {

                @media (min-width: $break-xl) {
                    width: 602px;
                }

                &.b-tlf {
                    color: #A95AFC;
                    border: none;
                    height: 42px;
                }
            }
        }

        .dir {
            color: #393939;
        }

        input, textarea {
            min-height: 42px;
            border-radius: 12px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #F7F7F7;
            border: 0px;

            &:focus {
                box-shadow: none;
                border: 1px solid #551A9D;
            }
        }

        textarea {
            height: 120px !important;

            @media (min-width: $break-md) {
                height: 140px !important;
            }
        }
    }
}

.gm-style-iw > button {
    display: none !important;
}
