#anuncios_view {
    .cabecera {
        padding: 15px 0;

        .atras {
            width: 70px;
            height: 42px;
            background: transparent;
            color: #551A9D;
            border: 1px solid #551A9D;
            border-radius: 100px;

            &:hover {
                background: #551A9D;
                color: #FFFFFF;
                border-color: #FFFFFF;
            }
        }

        .like, .share {
            background: transparent;
            border: none;

            svg {
                fill: #4e1496;

                /*&:hover {
                    fill: #AC5CFF;
                }*/
            }
        }
    }

    .tour-container {
        width: 100%;
        padding: 0;

        @media (min-width: $break-xl) {
            padding: 0 30px;
        }
    }

    .info {
        .price {
            font-size: 24px;
        }

        .details {
            svg {
                margin-right: 5px;

                &.bed {
                    margin-top: -5px;
                }

                &.bath {
                    margin-top: -9px;
                }
            }
        }

        .description {
            max-height: 82px;
            overflow: hidden;
            line-height: 20px;

            &.visible {
                max-height: 100%;
                transition: height 200ms ease;
            }
        }

        .leer_mas {
            background-color: transparent;
        }
    }

    .anunciante {
        min-width: 243px;
        width: 100%;
        padding: 23px 27px;
        box-shadow: 0px 3px 6px #C0A7DE;
        border-radius: 25px;
        float: right;

        .imagen {
            width: 104px;
            height: 104px;

            img {
                border-radius: 100%;
            }
        }

        .aditional-info {
            color: #9D9D9D;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 12px;

            a {
                font-size: 12px;
                color: #2E86FF;
            }
        }

        .contactar {
            width: 100%;

            button {
                width: 100%;
                height: 42px;
                background: transparent;
                color: #510C98;
                border: 1px solid #510C98;
                border-radius: 100px;

                &:hover {
                    background: #510C98;
                    color: #FFFFFF;
                    border-color: #FFFFFF;
                }
            }
        }
    }

    .tfl {
        margin-bottom: 20px;
    }

    .map-container {
        width: 100%;
        height: 280px;
        background-color: #FAF5FF;

        #address-map {
            width: 100%;
            height: 100%;
            border-radius: 0 0 50% 50%/3%;
            box-shadow: 3px 3px 12px #551A9D22;
        }
    }

    .more {
        .head {
            width: 100%;
            height: 55px;
            background-color: #FAF5FF;
        }
    }

    input, textarea {
        min-height: 42px;
        border: 1px solid #A0A0A0;
        border-radius: 7px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #F7F7F7;

        &:focus {
            box-shadow: none;
            border-color: #551A9D;
        }
    }

    textarea {
        height: 200px;
    }
}

.mobile_info {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 0;

    @media (min-width: $break-md) {
        position: static;
    }

    @media (min-width: $break-md) and (max-width: $break-max-lg) {
        &>div {
            max-width: 720px;
            margin: 0 auto;
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    &.remove-pm, &.nofloat  {
        > form {
            // border-radius: 25px !important;
            padding: 20px 25px 30px;

            @media (min-width: $break-md) and (max-width: $break-max-lg) {
                &>div {
                    max-width: 720px;
                    margin: 0 auto;
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }
        }

        @media (max-width: $break-max-lg) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &.nofloat {
        position: static;

        > form {
            // border-radius: 25px !important;
            padding: 15px 25px 40px;
        }
    }

    @media (min-width: $break-lg) {
        padding: 0 30px;
    }

    .aditional-info {
        color: #9D9D9D;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;

        a {
            font-size: 12px;
            color: #2E86FF;
        }
    }

    .contact {
        width: 103px;

        &.solicitar {
            width: 214px;
            margin: 0 auto;
        }

        @media (min-width: $break-lg) {
            height: 48px !important;

            &#contactBtmButton.open, &#solicitarBtmButton.open {
                width: 132px !important;
            }

            &#solicitarBtmButton.open {
                margin-right: 0px !important;
            }
        }

        &#sendContact{
            display: none;
            width: 214px;

            @media (max-width: $break-max-lg) {
                display: none !important;
            }

            &.open {
                display: block;

            }
        }
    }

    > form {
        padding: 15px 30px 20px;
        box-shadow: 0px 2px 6px #A46EE5;
        border-radius: 25px 25px 0px 0px;
        background: #FFFFFF;
        width: 100%;
        z-index: 1;

        @media (min-width: $break-lg) {
            padding: 30px 20px 40px !important;
        }

        @media (min-width: $break-xl) {
            padding: 30px 50px 40px !important;
        }

        div {
            img {
            width: 49px;
            height: 49px;
            border-radius: 100%;
        }

        div {
            div {
                line-height: 20px;
            }
        }
    }

    button {

        @media (min-width: $break-xl) {
            width: 602px;
        }

        &.b-tlf {
            color: #A95AFC;
            border: none;
            height: 42px;
            background: #fff;
        }
    }

    .show {
        display: flex;
    }
}

.dir {
    color: #393939;
}

input, textarea {
    min-height: 42px;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F7F7F7;
    border: 0px;

    &:focus {
        box-shadow: none;
        border: 1px solid #551A9D;
    }
}

textarea {
    height: 70px !important;
}
}
