#como-empezar {
    .header {
        background-image: url("/imgs/home/Intersección_60.svg");
        background-size: 101% auto;
        background-repeat: no-repeat;
        background-position-y: 152%;
        background-position-x: -5px;
        padding-top: 22px;

        @media (min-width: $break-md) {
            background-position-y: 100%;
        }

        @media (min-width: $break-lg) {
            padding-top: 18px;
        }

        @media (min-width: $break-xl) {
            padding-top: 37px;
        }

        h1 {
            color: #ffffff;
            font-size: 30px;
            font-weight: bold;
            text-align: center;

            @media (min-width: $break-lg) {
                font-size: 38px;
            }

            @media (min-width: $break-xl) {
                font-size: 54px;
            }
        }

        picture {
            @media (min-width: $break-md) {
                margin: 0 auto;
            }
        }
    }

    .secs {
        font-size: 20px;
        color: #a053f2;

        @media (min-width: $break-xl) {
            margin-top: -30px;
        }

        img {
            margin-bottom: 28px;
            height: 88px !important;
            width: auto;
        }

        .c-pink {
            @media (min-width: $break-xl) {
                font-size: 22px !important;
            }
        }

        .c-brown, .c-dbrown, .c-dpink {
            line-height: 22px;
            margin-bottom: 60px;
        }

        .c-dbrown, .c-dpink {
            font-weight: 700;
        }

        #last-sec {
            margin-bottom: 70px !important;
        }

        @media (min-width: $break-md) {
            .c-brown {
                margin-bottom: 40px !important;
            }
        }

        @media (min-width: $break-xl) {
            .justify-content-xl-between > div {
                max-width: 370px;
            }

            .sec {
                max-width: 550px;
            }

            #last-sec {
                margin-bottom: 0px !important;
            }
        }
    }

    .key-block {
        /*@media (min-width: $break-md) {
            margin-top: -100px;
        }*/

        @media (min-width: $break-md) {
            margin-top: -50px;
        }

        @media (min-width: $break-xl) {
            margin-top: -110px;
        }
    }

    #logotipo {
        p {
            color: #a555f7;
            font-size: 35px;
            margin-bottom: 15px;

            @media (min-width: $break-xl) {
                font-size: 50px;
            }

            &:last-child {
                color: #4b0e92;
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 65px;

                @media (min-width: $break-xl) {
                    font-size: 54px;
                }
            }

            span {
                color: #490d90;
                font-size: 37px;
                font-weight: bold;

                @media (min-width: $break-xl) {
                    font-size: 52px;
                }
            }
        }
    }
}
