#crear_tour {
    .tour-container {
        width: 100%;
        padding: 0;

        @media (min-width: $break-xl) {
            padding: 0 30px !important;
        }
    }

    .title {
        h3 {
            font-size: 25px;

            @media (min-width: $break-md) {
                font-size: 28px;
            }

            @media (min-width: $break-lg) {
                font-size: 32px;
            }
        }
    }

    .titulo {
        p {
            font-size: 25px;
            margin-top: 45px;
            margin-bottom: 95px;

            @media (min-width: $break-md) {
                max-width: 372px;

                margin-left: auto;
                margin-right: auto;
            }

            @media (min-width: $break-lg) {
                font-size: 32px;
                margin-top: 35px;
                margin-bottom: 57px;
                max-width: unset;
            }
        }
    }

    .details {
        @media (min-width: $break-lg) {
            margin-bottom: 50px;
        }

        div > div {
            margin-bottom: 76px !important;

            img {
                margin-bottom: 20px;
            }

            .t-lg {
                margin-bottom: 10px;
            }

            .t-b {
                max-width: 263px;
                margin: 0 auto;
            }
        }
    }

    .insta {
        img {
            margin-bottom: -3px;
            max-height: 290px;
            margin-left: auto;
        }

        p {
            margin: unset;

            &:first-child {
                margin-bottom: 20px;
            }

            &.t-xl {
                margin-bottom: 20px;
            }

            &:last-child {
                line-height: 25px;
            }
        }
    }
}
