#perfil, #mi_anuncio, #mis_anuncios, #mis_favoritos {

    background-color: #FFFFFF;

    .title {
        font-size: 18px;
        padding: 16px 0;
        color: #000000;
        background-color: #FAF5FF;
    }

    .currentPhoto, .photoPreview {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        cursor: pointer;

        img,span {
            display: inline-block;
            width: 140px;
            height: 140px;
            border-radius: 100%;
        }

        img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        label {
            background: #F5F5F5 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 4px #00000029;
            border-radius: 100%;
            width: 38px;
            height: 38px;
            bottom: 0;
            right: 0;
        }

        &:hover {
            box-shadow: 0px 3px 6px #C0A7DE;
        }
    }
}

#perfil, #mi_anuncio {

    input, textarea, select {
        min-height: 42px;
        border: 1px solid #A0A0A0;
        border-radius: 7px;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            box-shadow: none;
            border-color: #551A9D;
        }
    }

    select {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='44.56px' height='44.56px' fill='%23fff' viewBox='0 0 44.56 44.56' style='enable-background:new 0 0 44.56 44.56;' xml:space='preserve' %3E%3Cg%3E%3Cg%3E%3Cpath d='M23.297,38.74c-1.17,1.588-2.992,2.564-4.962,2.661c-1.97,0.098-3.878-0.696-5.198-2.162L1.308,26.112 c-1.88-2.085-1.713-5.299,0.372-7.179c2.087-1.88,5.299-1.712,7.179,0.374l8.369,9.288c0.124,0.138,0.304,0.212,0.489,0.203 c0.186-0.009,0.356-0.102,0.467-0.25L35.386,5.217c1.665-2.26,4.847-2.741,7.108-1.075c2.259,1.666,2.739,4.848,1.073,7.107 L23.297,38.74z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");        background-size: 17px;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    textarea {
        height: 200px;
    }

    button {
        height: 42px;
        width: 140px;
        border-radius: 100px;
        background: #FFF;
    }

    button.cancel, .back {
        border: 1px solid #551A9D;
        color: #551A9D;

        &:hover {
            color: #FFF;
            background: #551A9D;
        }
    }

    button.save, .next {
        border: 1px solid #00C993;
        color: #00C993;

        &:hover {
            color: #FFF;
            background: #00C993;
        }
    }
}

#mi_anuncio {

    .cabecera {
        background-color: #FAF5FF;
        height: 55px;

        button {
            background-color: transparent;

            &:hover {
                color: #000;
            }
        }
    }

    .section {
        max-width: 658px;
    }

    #tour_url {
        border: 1px dashed #A0A0A0;

        &:focus {
            border: 1px dashed #AC5CFF;
        }

    }

    input[type="checkbox"] + label {
        span {
            &:first-letter {
                text-transform: uppercase;
            }
        }

    }

    input[type="checkbox"] + label:before {
        border: 1px solid #CCCCCC;
        content: "\00a0";
        min-height: 35px;
        margin: 0 10px 0 0;
        padding: 0;
        min-width: 35px;
        border-radius: 2px;
    }

    input[type="checkbox"]:checked + label:before {
        background: #00C993;
        background-image: url("/icons/tick.png");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    input[type="checkbox"]:checked + label:after {
        font-weight: bold;
    }

    input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }
}

#mis_anuncios, #mis_favoritos {
    .no_found {
        height: calc(90vh - 307px);
        background: #EAEAEA;
        border-radius: 0;
        flex-flow: column;

        svg {
            display: block;
        }

        span {
            margin-top: 25px;
            font-size: 20px;
            color: #CECECE;
        }

        a {
            margin-top: 25px;
            width: 194px;
        }
    }
}

label[for="contrasena"], label[for="nueva_contrasena"], label[for="nueva_contrasena_confirmation"], label[for="confirmar_contrasena"] {
    position: relative;

    span {
        width: 20px;
        position: absolute;
        right: 8px;
        z-index: 5;
        top: 25%;
        cursor: pointer;

        .visible, .private {
            display: none;
            fill: #A0A0A0;

            &.active {
                display: block;
            }

            &:hover {
                fill: #551A9D;
            }
        }
    }

}

#imgModal {
    .image_area {
        position: relative;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg{
        max-width: 1000px !important;
    }

    .overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        width: 100%;
    }

    .image_area:hover .overlay {
        height: 50%;
        cursor: pointer;
    }

    .text {
        color: #333;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

#splash {
    background: transparent linear-gradient(180deg, #AC5CFF 0%, #551A9D 100%) 0% 0% no-repeat padding-box;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .splash_container {
        width: 268px;
        position: relative;

        .close {
            opacity: 1;
            background: transparent;
            border: none;
            width: 20.46px;
            height: 20.46px;
            position: absolute;
            right: -5px;
            top: -15px;

            @media (min-width: $break-md) {
                right: -68px;
                top: -35px;
            }
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
        }

        img {
            display: block;
            width: 268px;
        }

        p {
            margin-top: 35px;
            text-align: center;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-shadow: 0px 1px 2px #00000088;
            font-size: 20px;
        }

        .swiper-pagination {
            width: 268px;
            display: flex;
            justify-content: center;

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                margin-right: 5px;
                border-radius: 100%;
                background-color: #FFFFFF;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background-color: #DDBCFF;
                box-shadow: 0px 3px 6px #551A9D;
            }
        }
    }
}
