.top-block {
    background-color: #FFF;
    border-radius: 0 0 50% 50%/1.5%;
    box-shadow: 0px 3px 12px #551A9D22;

    &>div {
        .title {
            h1 {
                color: #000000;
                font-size: 32px;
                font-weight: bold;
                line-height: 39px;

                @media (min-width: $break-md) {
                    font-size: 38px;
                    line-height: 46px;
                }

                @media (min-width: $break-lg) {
                    font-size: 49px;
                    line-height: 60px;
                }
            }

            p {
                color: #ac5cff;
                font-size: 18px;

                @media (min-width: $break-lg) {
                    font-size: 20px;
                }
            }
        }

        .top-img {
            img {
                box-shadow: 0px 3px 6px #551A9D86;

                @media (min-width: $break-md) {
                    border-radius: 13px;
                }
            }

            @media (max-width: $break-max-md) {
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
        }

        .search {
            @media (max-width: $break-max-md) {
                padding-right: 0 !important;
                padding-left: 0 !important;
            }

            &>div {

                @media (min-width: $break-md) {
                    border: 1px solid #551A9D3E;
                    border-radius: 100px;
                    padding: 9px 0;
                    max-width: 720px;
                }

                .buttons {
                    z-index: 1;

                    button {
                        width: 182px;
                        height: 42px;
                        background: #f4f4f4 0% 0% no-repeat padding-box;
                        border-radius: 100px;
                        color: #818181;

                        &:first-child {
                            margin-right: -30px;
                        }

                        &:last-child {
                            margin-left: -30px;
                        }

                        @media (min-width: $break-md) {
                            font-size: 14px;
                        }
                    }

                    .active {
                        width: 199px;
                        background: #f5ebff 0% 0% no-repeat padding-box;
                        box-shadow: 0px 1px 3px #5700b165;
                        border-radius: 100px;
                        margin-right: unset !important;
                        margin-left: unset !important;
                        z-index: 1;
                        color: #551A9D;
                    }
                }

                .tipo, .lugar {
                    z-index: 1;
                    min-width: 40%;

                    .dropdown-toggle {
                        border-left: 1px solid #414141;

                        &[aria-expanded='true'] {
                            border-left: 1px solid #AC5CFF;
                        }

                        p, input {
                            color: #818181;
                            font-size: 14px;
                            max-width: 100%;

                            @media (min-width: $break-md) {
                                font-size: 12px;
                            }
                        }

                        :first-child {
                            color: #414141;
                            font-weight: bold;
                            font-size: 12px;

                            @media (min-width: $break-md) {
                                font-size: 10px;
                            }
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .dropdown-menu {
                        width: 100%;
                        height: 181px;
                        box-shadow: 0px 3px 6px #00000029;
                        border-radius: 25px;
                        left: -9px !important;

                        @media (min-width: $break-md) {
                            width: 237px;
                        }

                        /*@media (min-width: $break-lg) {
                            width: 177px;
                        }*/

                        .options {
                            max-height: 144px;
                            overflow-y: scroll;
                            overflow-x: hidden;

                            &::-webkit-scrollbar {
                                width: 8px;
                                height: 74px;
                                background: #FFFFFF 0% 0% no-repeat padding-box;
                            }

                            &::-webkit-scrollbar-track {
                                background: #fff;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: #E2CBFF;
                                border-radius: 12px;
                                border: 2px solid #fff;
                            }

                            .dropdown-item {
                                width: auto;
                                height: 30px;
                                cursor: pointer;
                                font-size: 14px;
                                border: 1px solid #FFF;
                                display: flex;
                                align-items: center;

                                &:hover{
                                    background: #FBF7FF 0% 0% no-repeat padding-box;
                                    border: 1px solid #551A9D;
                                    border-radius: 80px;
                                    color: #551A9D;
                                }

                            }
                        }


                    }
                }

                .lens {
                    z-index: 1;

                    button {
                        width: 38px;
                        height: 39px;
                        background: #AC5CFF;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}

.selling {
    .title {
        > div {
            span {
                font-weight: bold;
                color: #551A9D;
            }

            a {
                color: #AC5CFF;
            }
        }

        p {
            color: #818181;
            line-height: 27px;
        }
    }

    .cards-block {
        &>div {
            &>div {
                margin-bottom: 37px;
            }
        }
    }
}

.tips {
    .title {
        h5 {
            color: #503232;
            font-weight: bold;

            @media (min-width: $break-md) {
                font-size: 20px;
            }

            @media (min-width: $break-xl) {
                font-size: 22px;
            }
        }

        a {
            color: #AC5CFF;
        }
    }

    .tips-block {
        .tip {
            img  {
                margin-bottom: 17px;
            }

            h5 {
                font-weight: bold;
                color: #503232;
                font-size: 18px;

                @media (min-width: $break-md) {
                    font-size: 20px;
                }

                @media (min-width: $break-xl) {
                    font-size: 22px;
                }
            }

            p {
                color: #503232;

                @media (min-width: $break-xl) {
                    font-size: 18px;
                }
            }
        }
    }

    a.button {
        width: 284px;
        height: 42px;
        padding: 7px 0;

        @media (min-width: $break-md) {
            width: 179px;
        }
    }
}

.banner {
    //height: 456px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 100px;

    &>div>div {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 38px;
        box-shadow: 0px 3px 6px #AC5CFFAD;
        border-radius: 25px;

        a {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85% !important;
        }

        &:first-child {
            a {
                max-width: 410px !important;
            }
        }

        &:first-child {
            a {
                max-width: 392px !important;
            }
        }
    }
}
