.login-panel {
    display: block;

    .wrapper {
        background-image: url("/imgs/login/background-768.jpg");
        min-height: 70vh;
        position: relative;
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: $break-md) {
            padding: 77px 0 77px;
            background-image: url("/imgs/login/background-1024.jpg");
        }

        @media (min-width: 1024px) {
            background-image: url("/imgs/login/background-1362.jpg");
        }

        @media (min-width: 1362px) {
            background-image: url("/imgs/login/background-1920.jpg");
        }

        .login-form {
            width: 100%;
            height: auto;
            background: #FFFFFF;
            padding: 31px 37px;

            @media (min-width: $break-md) {
                width: 370px;
                border-radius: 15px;
                border: 1px solid #707070;
            }

            form {
                .type {
                    img {
                        height: 25px;
                    }
                }

                h3 {
                    font-size: 25px;
                    color: #171717;
                    font-weight: bold;
                }

                input[type="email"], input[type="password"], input[type="text"] {
                    width: 100%;
                    height: 42px;
                    border: 1px solid rgb(172, 92, 255, 0.27);
                    border-radius: 2px;
                    color: #393939;
                    padding: 14px;
                    font-size: 14px;
                }

                input[type="submit"] {
                    width: 100%;
                    height: 42px;
                    background: #551A9D;
                    border-radius: 100px;
                    text-align: center;
                    color: #FFF;
                }

                input[type="checkbox"] {
                    width: 35px;
                    height: 35px;
                    min-width: 35px;
                    min-height: 35px;
                }

                &.login {
                    input[type="checkbox"] {
                        width: 20px;
                        height: 24px;
                        min-width: 20px;
                        min-height: 24px;
                    }
                }

                .facebook, .google, .continue {
                    width: 100%;
                    height: 42px;
                    background: transparent;
                    border-radius: 100px;
                    text-align: center;

                    img {
                        margin-left: 6px;
                        height: 18px;
                        width: 18px;
                    }
                }

                .facebook {
                    color: #3B5998;
                    border: 1px solid #3B5998;
                    background: transparent;
                }

                .google {
                    color: #167EE6;
                    border: 1px solid #167EE6;
                    background: transparent;
                }

                .continue {
                    color: #FFFFFF;
                    border: 1px solid #551A9D;
                    background: #551A9D;
                }

                .hidden {
                    display: none !important;

                    * {
                         display: none
                     }
                }

                .verify-img {
                    width: 274px;
                    height: 192px;
                }
            }
        }
    }
}
