*.t-sm {
    font-size: 12px;
}

*.t-m {
    font-size: 14px;
}

*.t-b {
    font-size: 18px;
}

*.t-vb {
    font-size: 20px;
}
*.t-lg {
    font-size: 22px;
}

*.t-xl {
    font-size: 24px;
}

*.c-black {
    color: #000000 !important;
}

*.c-pink {
    color: #ac5cff !important;
}

*.c-dpink {
    color: #551a9d !important;
}

*.c-grey {
    color: #818181 !important;
}

*.c-lgrey {
    color: #a8a8a8 !important;
}

*.c-ulgrey {
    color: #bfbfbf !important;
}

*.c-brown {
    color: #503232 !important;
}

*.c-dbrown {
    color: #503232 !important;
}

*.c-white {
    color: #ffffff !important;
}

*.bg-pink {
    background-color: #ac5cff !important;
}

*.bg-lpink {
    background-color: #f9f4ff !important;
}
*.bg-grey {
    background-color: #eaeaea !important;
}

*.p_button {
    height: 42px;
    border: 1px solid;
    border-radius: 100px;
}

*.p_s_button {
    height: 42px;
    border: 1px solid #ac5cff;
    border-radius: 100px;
    color: #ac5cff;
    background-color: #ffffff;

    &:hover {
        background-color: #ac5cff;
        color: #ffffff;
    }
}

*.b-dpink {
    height: 42px;
    border: 1px solid #551a9d;
    border-radius: 100px;
    color: #551a9d;
    background-color: #ffffff;

    &:hover {
        background-color: #551a9d !important;
        color: #ffffff !important;
    }
}

*.cursor-pointer {
    cursor: pointer;
}

*.fl-cap {
    &:first-letter {
        text-transform: uppercase;
    }
}
