// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Breakpoints
$break-xsm: 375px;
$break-max-xsm: 374px;
$break-md: 768px;
$break-max-md: 767px;
$break-lg: 992px;
$break-max-lg: 991px;
$break-xl: 1200px;
$break-max-xl: 1199px;
