// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Classes
@import "classes";

// Common
@import "common/nav";
@import "common/footer";
@import "common/card";
@import "common/modals";

// Pages
@import "pages/home";
@import "pages/login";
@import "pages/dashboard";
@import "pages/anuncios_main";
@import "pages/anuncios_view";
@import "pages/crear_tour";
@import "pages/como_empezar";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
    font-family: "ProximaNova", sans-serif;
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    margin: 0;
    background-color: #FFF;

    &.no-scroll{
        position: fixed;
        overflow: hidden;
    }

    &.stop-scroll{
        overflow: hidden;
    }
}

* {
    outline: none !important;
    border: none;
    font-size: 16px;
    color: #000000;
    line-height: normal;
}

a:hover {
    text-decoration: none;
}

button {
    -webkit-appearance: none;
}

.static-background, .static-background-grey  {
    position: fixed;
    width: 100%;
    height: 100%;
    //background-color: #484848;
    z-index: 2;
    opacity: 0.6;
    top: 0px;

    &.visible {
        display: block !important;
    }
}

.static-background-grey {
    background-color: #484848;
}

*[type=text], *[type=button] {
    -webkit-appearance: none !important;
}

*[type=button] {
    -webkit-box-orient: horizontal;
    padding-top: 0;
    padding-bottom: 0;
}

header {
    z-index: 10;
}

main {
    margin-top: -20px;

    &> *:first-child {
        margin-top: 20px;
    }
}
