// Font
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

//font
@font-face {
    font-family: ProximaNova;
    src: url("/fonts/ProximaNova-Regular.otf");
}
