.card {
    background: #FFFFFF;
    border-radius: 25px !important;
    text-decoration: none !important;
    cursor: pointer;
    overflow: hidden;
    //height: 340px;
    box-shadow: 0px 3px 6px #adb5bd;
    border: none !important;

    &:hover {
        box-shadow: 0px 3px 6px #ac5cff;

        .card-img-top {
            span{
                //transform: scale(1.1);
            }

        }
    }

    .card-img-top {
        border-radius: 25px;
        width: 100%;
        height: 228px;
        overflow: hidden;

        span {
            width: 100%;
            height: 228px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: all .1s ease-in-out;
            border-radius: 25px;
        }
    }

    .public-date {
        background: rgb(62, 62, 62, 0.29);
        border-radius: 25px;
        font-size: 12px;
        color: #fff;
        top: 12px;
        left: 12px;
    }

    .like {
        top: 12px;
        right: 12px;
        fill: #fff;

        &.liked {
            fill: #FF006C;
        }
    }

    .share {
        bottom: 1.5rem;
        right: 19px;
        fill: #4e1496;
    }

    .card-body {
        .dashboard-buttons {
            button {
                background: transparent;
                border: none;
                color: #000000;
                position: relative;
                z-index: 1;

                &:hover {
                    text-underline: #000
                }
            }
        }

        .price {
            font-size: 18px;
            color: #551A9D;
            font-style: italic;
            font-weight: bold;
        }

        .details {
            color: #292929;
            //font-weight: bold;
            font-size: 18px;

            svg {
                margin-right: 5px;

                &.bed {
                    margin-top: -5px;
                }

                &.bath {
                    margin-top: -9px;
                }
            }
        }

        .description {
            font-size: 18px;
            line-height: 29px;
            color: #6A6A6A;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            padding-right: 48px;
            margin-bottom: 0;
        }
    }

    *:hover {
        text-decoration: none;
    }

    &.map-card {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.gm-style-iw {
    width: 251px;
    height: 236px;
    padding: 0 !important;
    border-radius: 25px !important;

    .gm-style-iw-d {
        padding: 0 !important;
        overflow: hidden !important;
    }
}


