footer {
    z-index: 2;

    .social-media {
        height: 27px;
        position: relative;

        &>div {
            box-shadow: 3px -3px 12px #551A9D22;
            z-index: 9999;
            border-radius: 50% 50% 50% 50%/21%;
            background: #fff;
            width: 100%;
            position: absolute !important;
            top: -13px;

            a {
                width: 37px;
                height: 37px;
                margin-right: 38px;

                @media (min-width: $break-md) {
                    margin-right: 54px;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .bottom {
        background: linear-gradient(90deg, #AC5CFF 0%, #9D4EEE 10%, #762CC3 38%, #5B14A4 63%, #4A0591 85%, #44008B 100%);

        .links {
            .link {
                @media (max-width: $break-max-xsm) {
                    padding-right: 0.5rem !important;
                }

                a {
                    color: #fff;
                    font-size: 12px;
                    display: inline-flex;
                    align-items: center;

                    @media (min-width: $break-xsm) {
                        font-size: 14px;
                    }

                    .dot {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        margin-right: 7px;

                        span {
                            display: inline-block;
                            background: #fff;
                            width: 5px;
                            height: 6px;
                            border-radius: 100%;

                            &:first-child {
                                z-index: 1;
                            }

                            &.back {
                                background-color: #AC5CFF;
                                position: absolute;
                                left: 1px;
                                top: 1px;
                            }
                        }
                    }
                }
            }

        }
    }
}

.newsletter {
    form {
        div {
            input[type="email"] {
                width: 100%;
                height: 42px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #551A9D;
                border-radius: 100px;
                font-size: 14px;
                color: #551a9d;
                padding-right: 129px;

                &::placeholder {
                    font-size: 14px;
                    color: rgb(85, 26, 157, 0.8);
                }

                &:focus {
                    box-shadow: none;
                }
            }

            input[type="submit"] {
                right: 15px;
                z-index: 1;
                width: 129px;
                height: 42px;
                background: #AC5CFF;
                border-radius: 100px;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
}

.details {
    .logo {
        img {
            height: 27px;
        }
    }

    .copyright {
        color: #FFFFFF;
        font-size: 12px;

        span {
            font-weight: bold;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}
