.modal {
    .modal-content {
        //width: 305px;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;

        .modal-body {
            padding: 40px 30px;
            background: #fff;
            border-radius: 25px;

            .close {
                border: 1px solid #551A9D;
                border-radius: 100%;
                width: 28px;
                height: 28px;
                right: 16px;
                top: 16px;
                opacity: 1;

                svg {
                    * {
                        fill: #551A9D;
                        color: #551A9D;
                        stroke: #551A9D;
                    }

                }

                &:hover {
                    opacity: 1;
                    background-color: #551A9D;

                    svg {
                        * {
                            fill: #FFF;
                            color: #FFF;
                            stroke: #FFF;
                        }

                    }
                }
            }

            p {
                line-height: 22px;

                a, button {
                    min-width: 196px !important;
                }

                img {
                    position: absolute;
                    margin-left: -30px;
                }

                .facebook, .google {
                    width: 100%;
                    height: 42px;
                    background: transparent;
                    border-radius: 100px;
                    text-align: center;

                    img {
                        margin-left: 6px;
                        height: 18px;
                        width: 18px;
                    }
                }

                .facebook {
                    color: #3B5998;
                    border: 1px solid #3B5998;
                    background: transparent;
                }

                .google {
                    color: #167EE6;
                    border: 1px solid #167EE6;
                    background: transparent;
                }

                &.social {
                    border-bottom: 1px solid #00000029;
                    padding-bottom: 0.75rem;
                    margin-left: 30px;
                }
            }
        }
    }

}

