.navbar {
    background: transparent linear-gradient(270deg, #440D8B 0%, #AC5CFF 100%);
    box-shadow: 0px 3px 6px #00000029;
    position: relative;

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100");
    }

    .hamburguesa {
        @media (max-width: $break-max-md) {
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: -24px;
        }

        &>button {
            width: 40px;
            height: 28px;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            padding: 3px;

            @media (min-width: $break-md) {
                width: 56px;
                height: 42px;
            }

            .barra {
                width: 22px;
                height: 3px;
                display: block;
                background: #fff;
                border-radius: 100px;

                &:first-child,  &:last-child {
                    width: 10px;
                    text-align: center;
                    margin: 4px auto 4px;
                }

                &:first-child {
                    margin-bottom: 4px;
                    margin-top: 0px;
                }

                &:last-child {
                    margin-top: 4px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .logo {
        left: 50%;
        position: absolute;
        top: auto;
        margin-top: -4px;
        transform: translateX(-50%);

        img {
            width: auto;
            height: 20px;

            @media (min-width: $break-xsm) {
                height: 28px;
            }

            @media (min-width: $break-md) {
                height: 35px;
            }
        }
    }

    a {
        color: #fff !important;
    }

    .right-items {
        @media (max-width: $break-max-md) {
            padding-right: 0px !important;
        }

        .nav {
            .publish {
                a {
                    font-size: 14px;
                    margin-right: 41px;
                    text-align: center;
                    border: 1px solid #FFFFFF;
                    border-radius: 100px;
                    padding: 9px 12px;
                    height: 42px;
                }
            }

            .user-panel, .search {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .user-panel {
                display: flex;

                span {
                    width: 30px;
                    height: 30px;
                    display: block;
                    border-radius: 100%;
                }

                @media (min-width: $break-md) {
                    margin-right: 41px;
                    width: 23.043px;

                    span {
                        width: 42px;
                        height: 42px;
                    }
                }
            }

            .search {
                margin-right: 20px;

                @media (min-width: $break-md) {
                    width: 27.994px;
                }
            }


        }
    }
}

.left-menu {
    left: -400px;
    position: fixed;
    width: 328px;
    height: 100%;
    background-color: #484848;
    z-index: 3;
    top: 0px;
    background: transparent linear-gradient(90deg, #AC5CFF 0%, #9D4EEE 10%, #762CC3 38%, #5B14A4 63%, #4A0591 85%, #44008B 100%);
    overflow-y: scroll;

    &.visible {
        left: 0;
        transition: left 200ms ease;
    }

    .top {
        margin: 18px 24px 40px 25px;
        display: flex;

        img {
            width: auto;
            height: 30px;
            margin: 0 auto;
        }

        .close {
            opacity: 1;
            float: left;
            position: absolute;
        }
    }

    .publish {
        margin: 0 24px 32px 25px;

        a {
            display: block;
            text-align: center;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            padding: 9px 12px;
            height: 42px;
            width: 100%;
            color: #fff;
        }
    }

    .pages {
        ul {
            margin: 0 30px 0 27px;

            li {
                width: 100%;
                padding: 0 24px 16px;
                border-bottom: 1px solid #fff;
                margin-bottom: 16px;

                a {
                    font-size: 18px;
                    color: #fff;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }
                }

                .perfil_links {

                    li {
                        width: 100%;
                        padding: 16px 34px 0 0 ;
                        border-bottom: none;
                        margin-bottom: 0;

                        a {
                            font-size: 18px;
                            color: #fff;
                            display: inline-flex;
                            align-items: center;

                            .dot {
                                position: relative;
                                display: inline-flex;
                                align-items: center;

                                span {
                                    display: inline-block;
                                    background: #fff;
                                    width: 5px;
                                    height: 6px;
                                    border-radius: 100%;
                                    margin-right: 17px;

                                    &:first-child {
                                        z-index: 1;
                                    }

                                    &.back {
                                        background-color: #AC5CFF;
                                        position: absolute;
                                        margin-right: 0;
                                        margin-left: 1px;
                                        margin-top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .bottom {
        width: 100%;

        .social-media {
            height: 27px;
            position: relative;
            margin-bottom: 41px;

            &>div {
                z-index: 1;
                border-radius: 50% 50% 50% 50%/21%;
                background: #fff;
                width: 100%;
                position: absolute !important;
                top: -13px;

                a {
                    width: 37px;
                    height: 37px;
                    margin-right: 33px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .links {
            margin: 28px 51px;

            li {
                margin-bottom: 16px;

                a {
                    color: #fff;
                    display: inline-flex;
                    align-items: center;

                    .dot {
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        margin-right: 17px;

                        span {
                            display: inline-block;
                            background: #fff;
                            width: 9px;
                            height: 10px;
                            border-radius: 100%;

                            &:first-child {
                                z-index: 1;
                            }

                            &.back {
                                background-color: #AC5CFF;
                                position: absolute;
                                left: 1px;
                                top: 1px;
                            }
                        }
                    }
                }
            }

        }
    }
}

.user-menu {
    display: none;
    position: absolute;
    width: 100%;
    padding: 15px 30px 15px;
    background: #AC5CFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius:  0 0 25px 25px;
    z-index: 1;

    @media (min-width: 576px) {
        width: 384px;
        right: 0;
        background: transparent;
        left: 0;
        padding: 0 15px !important;
        box-shadow: none;
        border-radius: 0 !important;
    }

    @media (min-width: $break-md) {
        top: 90px;
        padding: 0 30px !important;
    }

    &.active {
        display: block;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;

        @media (min-width: 576px) {
            width: 384px;
            right: 0;
            background-color: #440D8B;
            margin-left: auto;
            padding: 15px 30px 15px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius:  0 0 25px 25px;
        }

        a, button {
            top: 61px;
            left: 24px;
            width: 144px;
            height: 42px;
            border-radius: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (min-width: $break-md) {
                width: 154px;
            }

            &:first-child {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #551A9D;
                color: #551A9D;
            }

            &:last-child {
                background: transparent;
                border: 1px solid #FFFFFF;
                color: #FFFFFF;
            }
        }
    }
}

#searchDropdown {
    border-radius: 0% 0% 50% 50%/12%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 12px #551A9D22;

    &>div {

        @media (min-width: $break-md) {
            border: 1px solid #551A9D3E;
            border-radius: 100px;
            padding: 9px 0;
            max-width: 720px;
        }

        .buttons {
            z-index: 1;

            button {
                width: 182px;
                height: 42px;
                background: #f4f4f4 0% 0% no-repeat padding-box;
                border-radius: 100px;
                color: #818181;

                &:first-child {
                    margin-right: -30px;
                }

                &:last-child {
                    margin-left: -30px;
                }

                @media (min-width: $break-md) {
                    font-size: 14px;
                }
            }

            .active {
                width: 199px;
                background: #f5ebff 0% 0% no-repeat padding-box;
                box-shadow: 0px 1px 3px #5700b165;
                border-radius: 100px;
                margin-right: unset !important;
                margin-left: unset !important;
                z-index: 1;
                color: #551A9D;
            }
        }

        .tipo, .lugar {
            z-index: 1;
            min-width: 40%;

            .dropdown-toggle {
                border-left: 1px solid #414141;

                &[aria-expanded='true'] {
                    border-left: 1px solid #AC5CFF;
                }

                p, input {
                    color: #818181;
                    font-size: 14px;
                    max-width: 100%;

                    @media (min-width: $break-md) {
                        font-size: 12px;
                    }
                }

                :first-child {
                    color: #414141;
                    font-weight: bold;
                    font-size: 12px;

                    @media (min-width: $break-md) {
                        font-size: 10px;
                    }
                }

                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                width: 100%;
                height: 181px;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 25px;
                left: -9px !important;

                @media (min-width: $break-md) {
                    width: 237px;
                }

                /*@media (min-width: $break-lg) {
                    width: 177px;
                }*/

                .options {
                    max-height: 144px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 8px;
                        height: 74px;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                    }

                    &::-webkit-scrollbar-track {
                        background: #fff;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #E2CBFF;
                        border-radius: 12px;
                        border: 2px solid #fff;
                    }

                    .dropdown-item {
                        width: auto;
                        height: 30px;
                        cursor: pointer;
                        font-size: 14px;
                        border: 1px solid #FFF;
                        display: flex;
                        align-items: center;

                        &:hover{
                            background: #FBF7FF 0% 0% no-repeat padding-box;
                            border: 1px solid #551A9D;
                            border-radius: 80px;
                            color: #551A9D;
                        }

                    }
                }


            }
        }

        .lens {
            z-index: 1;

            button {
                width: 38px;
                height: 39px;
                background: #AC5CFF;
                border-radius: 100px;
            }
        }
    }
}
